# OMP
num_threads = 20

# 能量校正参数（单位：MeV）
ENERGY_OFFSET=0.05             # 能量偏移
ENERGY_RESOLUTION=0.0025      # 能量分辨率


# 能量窗下限/上限（单位：MeV）
ENERGY_WINDOW_511_LOW=0.411
ENERGY_WINDOW_511_HIGH=0.611

ENERGY_WINDOW_307_LOW=0.275
ENERGY_WINDOW_307_HIGH=0.355

ENERGY_WINDOW_202_LOW=0.165
ENERGY_WINDOW_202_HIGH=0.247


# 时间相关参数（单位：s）
CFD_RESOLUTION=7e-12          # 每个 timeBits 单位对应的 s 数

TIME_WINDOW1=5e-09          
TIME_WINDOW2=7.5e-09           # coincidence 时间窗

CTR_511=2.5e-10              # 250ps CTR
CTR_307=2.5e-10
CTR_202=2.5e-10

# 几何参数
nbCrystalsPerRing=1056         # 每个环上晶体个数
nbCrystalsPerRsector=48

maxCrystalRing=120
minSectorDifference=3

fileName_lut = 'TBP_noDOI_1axialModule_6p3p4_241028.lut'

# multiple policy

multiple_policy = take_all 		     # 可选: take_all, take_winner, kill_all
#multiple_policy = take_winner
#multiple_policy = kill_all












